

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    transition: 0.6s ease;

}

p {
    font-family: 'Montserrat', sans-serif;
}
:root {
    --primary-color : rgb(13, 121, 13);
    --secondary-color: rgb(107, 3, 107);
}

header {
    padding: 1rem;
    text-align: center;
}

header h1 ,
header span {    
    font-family: 'Pacifico', cursive;
}

header h1 .green{
    color: var(--primary-color);
}

header h1 .purple{
    color: var(--secondary-color);
}




.bgimage-content {
    background: url("./images/pexels-pixabay-158063.jpg");
    background-color: grey;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    padding: 8rem;
    text-align: center;
    color: white;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.63);
}

.bgimage-content h2 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 900;
}

.bgimage-content .arrow-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2rem;
}

.bgimage-content .arrow-content .row h3{
    text-transform: uppercase;
    font-weight: 400;
    background-color: black;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
}

.bgimage-content .arrow-content .row i {
    font-size: 2rem;
    margin: 1rem auto;
    color: var(--primary-color);
}



.cards {
    padding: 1rem 3rem;
}

.cards> h2 {
    font-size: 2.8rem;
    text-align: center;
    margin: 1.5rem auto;
    text-transform: uppercase;
    font-weight: bold;
    
}

.cards .content-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3rem;

}



.cards .content-card .content h2 {
    color: var(--secondary-color);
}

.cards .content-card .content a.btn{
    color: white;
    background-color: var(--primary-color);
    padding: 0.5rem 2rem;
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    margin: 1rem 0;
    display: inline-block;
    border-radius: 0.5rem;
    text-decoration: none;
}

.cards .content-card .content a.btn:hover {
    background-color: var(--secondary-color);
}

.information {
    padding: 1rem 3rem;

}

.information h2 {
    font-size: 2.5rem;
    text-align: center;
    margin: 1.5rem auto;
    text-transform: uppercase;
}

/* tabs  */


  
  /* Style tab links */
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    /* color: white; */
    color: black;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }

  .tabcontent h3 {
    color: var(--secondary-color);
  }

  .tabcontent .image {
    width: 300px;
  }

  .tabcontent .image img {
    width: 100%;
  }

  .tabcontent button {
    color: white;
    background-color: var(--primary-color);
    padding: 0.5rem 2rem;
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    margin: 1rem 0;
    border-radius: 0.5rem;
  }

  #Home, #News, #Contact, #About {
    background-color: whitesmoke;
  }



.contact {
    padding: 1rem 3rem;

}

.contact h2 {
    font-size: 2.5rem;
    text-align: center;
    margin: 1.5rem auto;
    text-transform: uppercase;
}

.contact form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70%;
    margin: 1rem auto;
}

.contact form input[type = email], 
.contact form textarea {
    padding: 0.3rem 0.8rem;
    outline: none;
    border: none;
    border: 1px solid var(--primary-color);
    border-radius: 0.4rem;
}

.contact form input[type = submit] {
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 0.5rem;
}

.contact form input[type = submit]:hover {
    background-color: var(--secondary-color);
}

footer {
    text-align: center;
    padding: 1rem;
    font-weight: 300;
    background-color: var(--primary-color);
    color: white;
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 15px;
    }


    .bgimage-content {
        padding: 5rem 3rem;
    }
    
    .bgimage-content h2 {
        font-size: 2.5rem;
    }
    
    .bgimage-content .arrow-content {
        gap: 1.5rem;
    }

    .tablink {
        float: left;
        cursor: pointer;
        padding: 10px 12px;
        font-size: 15px;
        width: 50%;
      }
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 14px;
    }

    p {
        font-size: 16px;
    }


    .bgimage-content {
        padding: 3rem 2rem;
    }
    
    .bgimage-content h2 {
        font-size: 2rem;
    }

    .bgimage-content .arrow-content {
        gap: 1.3rem;
    }

    .tablink {
        float: left;
        cursor: pointer;
        padding: 8px 10px;
        font-size: 14px;
        width: 50%;
      }

      .contact form {
        width: 80%;
    }
}


@media only screen and (max-width: 440px) {
    html {
        font-size: 14px;
    }

    p {
        font-size: 16px;
    }


    .bgimage-content {
        padding: 2rem 1rem;
    }
    
    .bgimage-content h2 {
        font-size: 1.7rem;
    }
    
    .bgimage-content .arrow-content {
        gap: 1.2rem;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .tabcontent .image {
        width: 100%;
      }

      .contact form {
        width: 100%;
    }

    .information {
        padding: 1rem;
    
    }

    .cards {
        padding: 1rem;
    }

    .contact {
        padding: 1.5rem;
    }

}
